.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 15px;
    margin-bottom: 20px;    
}

.section-vagas {
    position: relative;
    padding-left: 170px;
    margin-top: 100px;
    width: 100%;
    z-index: -1;
}

.box-button {
    background-color: rgb(255, 255, 255);
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 4px;
    color: white;
    font-size: 11pt;
}

.box-button:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.box-img {
    width: 25px;
}

.box-child {
    background-color: black;
    padding: 20px;
    width: 300px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
}

.box-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.box-vagas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: black;
    color: white;
    border-radius: 30px;
}

.box-vagas-ocup {
    background-color: red;
}

.vagas-container {
    padding:0 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.vagas-title-img {
    width: 40px;
}
.vagas-title-container {
    gap: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 999px) {
    .section-vagas {
        padding: 0;
        margin-bottom: 50px;
        left: 0;
        width: 100%;
    } 
 }