@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;  
}

:root{
    --primary-color: #000000;
    --secundary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

.acess-denied {
    color: red;
}

.main-group {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.main-group p {
    font-family: 'Poppins', sans-serif;
}

.main-group button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: none;
    background: none;
    color: black;
}

.main-group a {
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.main-group input {
    height: 35px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #dadada;
    padding: 10px;
    width: 250px;
}

.main-group input::placeholder {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

@media (max-width: 999px) {
    .main-group {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}


