.login-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #cccccc;
}

.login-container > div {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
    margin:  0;
    box-shadow: 0 0 5px;
}

.login-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 60px;
    background: none;
}

.login-input-box {
    background-color: #9F9F9F;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

.login-button {
    display: flex;
    flex-direction: column;
}

.login-inputs input::placeholder {
    color: black;
}

.login-button button {
    background-color: #2F88FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 12px;
}

.login-button a {
    margin-top: 5px;
    text-align: center;
    color: black;
    font-size: 15px;
}

.login-inputs > header > h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-inputs input {
    height: 30px;
    background: none;
    border: none;
    outline: none;
}

.login-inputs input:focus-within {
    background: none;

}

.login-info {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50px 0 0 50px;

    padding: 0 100px;
}

.acess-denied {
    color: red;
}


